:root {
  --gray: #252525;
  --dark-gray: #1e1e1e;
  --dark-gray2: #151515;
  --light-gray: #323232;
  --light-gray2: #707070;
  --light-gray3: #a6a6a6;
  --dark-blue: #004147;
  --dark-blue2: #005c65;

  --small-border-radius: 2px;
  --border-radius: 5px
}

.v-icon.v-icon::after {
  background: none;
}

html {
  overflow: hidden !important;
  height: 100vh;
}

[contenteditable]:empty:after {
  content: 'Enter your text';
  color: var(--light-gray3);
}

.hoverable-icon {
  transition: 0.2s;
  padding: 3px;
  border-radius: var(--small-border-radius);
}

.hoverable-icon:hover {
  background-color: var(--light-gray);
  color: #fff !important;
}

.dialog {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-gray);
  padding: 1em;
  border-radius: var(--border-radius);
  min-height: 400px;
}

.dialog-header {
  display: flex;
  font-size: 1.25em;
  font-weight: 500;
}

.dialog-body {
}

.dialog-footer {
}
